:root {
  --color-pink: #fce3e6;
  --color-pink-accent: #f38393;
  --color-light-blue: #bee8f4;
  --background-color-blue: #e9fefe;
  --color-blue: #697cb4;
  --color-blue-accent: #374890;
  --color-white: #ffffff;
  --color-grey: #f6f6f6;
  --color-dark-grey: #e0dcdd;
  --color-black: #1b1e25;
  --transition-duration: 250ms;
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Varela Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 2;
  color: var(--color-black);
  background-color: var(--color-white);
  height: 100%;
  margin: 0px;
}
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
.accent {
  border-radius: 6px;
  padding: 2px;
}
.light-pink {
  background-color: var(--color-pink);
}
.light-blue {
  background-color: var(--color-light-blue);
}
.background-blue {
  background-color: var(--background-color-blue);
}
.blue {
  background-color: var(--color-blue);
}
.pink {
  background-color: var(--color-pink-accent);
}
.white {
  background-color: var(--color-white);
}
.light-grey {
  background-color: var(--color-grey);
}
.link {
  text-decoration: none;
  font-style: inherit;
  color: inherit;
  transition: color var(--transition-duration) var(--transition-timing-function);
}
.link:hover,
.link:focus {
  outline: none;
  color: var(--color-blue-accent);
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.inline {
  display: inline;
}
.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header-logo {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.02em;
}

.header.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  gap: 10px;
}
.display {
  display: none;
}
.header-item {
  margin: 0px 0px 0px 20px;
}
.header-link {
  padding: 5px;
  border-bottom: 2px solid var(--color-dark-grey);
  transition: border-bottom var(--transition-duration)
    var(--transition-timing-function);
}
.header-link:hover,
.header-link:focus {
  border-bottom: 2px solid var(--color-pink-accent);
}
.page-section {
  padding: 30px;
  width: 100vw;
}
.page-hero {
  padding-top: 100px;
}
.hero-container {
  display: block;
}
.hero-img {
  display: block;
  max-width: 100vw;
}
.description-wrap {
  margin: 0px auto;
  max-width: 400px;
}
.hero-title {
  font-size: 36px;
  font-weight: 700px;
  margin-bottom: 15px;
}
.subtitle {
  font-size: 24px;
  font-weight: 700px;
  margin-bottom: 15px;
}
.hero-text,
.about-text {
  margin-bottom: 15px;
}

.about-wrap {
  width: 100%;
}
.about-img {
  display: block;
  /* border: 20px solid var(--color-dark-grey); */
  border-radius: 20px;
}
.skills-list,
.education-list {
  margin-bottom: 20px;
}
.skills-item,
.education-item {
  position: relative;
}
.education-item {
  margin-bottom: 8px;
}
.skills-text::before,
.education-text:before {
  content: "";
  position: absolute;
  left: -30px;
  top: 0.5em;
  /* transform: translateY(-50%); */
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.skills-text::before {
  background-color: var(--color-blue-accent);
}
.education-text:before {
  background-color: var(--color-pink-accent);
}

.examples {
  font-size: 20px;
  font-weight: 700;
}
.portfolio-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

.example-text {
  line-height: 1.5;
  width: 300px;
}
.example-link-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  max-width: 300px;
}
.repo-link {
  margin: 0px 10px 8px 0px;
}

.full-img {
  display: none;
}
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 20px 5px 5px;
  border-radius: 50%;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-text,
.mail,
.phone {
  margin-right: 20px;
  margin-right: 20px;
}
.contact-icon {
  margin-right: 10px;
}
.footer {
  background-color: var(--color-dark-grey);
  font-size: 13px;
  width: 100vw;
}
.footer-text {
  text-align: center;
}

@media (min-width: 767px) {
  .header-list {
    display: flex;
    align-items: center;
  }
  .display {
    display: inline-block;
  }
  .header-item {
    padding: 10px 0;
  }
  .hero-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  .about-container {
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 70px;
    height: 80vh;
  }
  .about-wrap {
    width: 50%;
    margin-right: 50px;
  }
  .skills-container {
    padding: 50px;
    /* height: 80vh; */
  }
  .skills-list {
    column-count: 2;
    column-gap: 50px;
  }

  .portfolio-container {
    padding: 70px;
  }
  .portfolio-item {
    height: 80vh;
  }

  .example-description {
    width: 35vw;
  }
  .full-img {
    display: block;
    max-width: 60vw;
    margin-left: 20px;
  }
  .example-description {
    max-width: 40vw;
  }
}

/* CV page styles */
.bg-container {
  background-color: var(--color-grey);
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 70px;
}
.cv-container {
  display: block;
  margin: 70px auto 0px auto;
  padding: 20px 30px;
  background-color: var(--color-white);
  width: 70vw;
  box-shadow: 0px 0px 10px 0px;
  font-size: 14px;
  line-height: 1.5;
}
.block {
  display: block;
}
.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cv-subtitle {
  margin: 10px auto;
}
.about {
  margin: 10px auto;
}
